/* css reset */
*{
    margin: 0;
    padding: 0;
}
/* css variables */
:root{
   --navbar-height:100%;
}
/* navigation bar */
#navbar{
     display: flex ; 
/* text-align: right;
align-items:right; */
justify-content: space-between;
}
/* navigation bar:logo and image */
#logo{
    margin:0.4rem 0.8rem;
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#logo h1{
    height:3rem;
    margin:0.3rem 0.6rem;

    text-align: center;
    
}
/* navigation bar list styling */
#navbar{
    position:left;
    
    
}

ul{
     display: flex; 
    
}


#navbar::before
{
    content: "";
    background-color:rgb(6, 6, 6);
     position: absolute;
     height: 10rem;
width:100%;
    z-index: -1;
    opacity: 0.89vh;
    /* padding-left: 40vh; */
}
#navbar ul li{
     color:rgb(246, 233, 233); 
     list-style:none ;
     font-size: 1.10rem;
     display: block;
     padding-bottom: 0.4rem;
     padding: 0.4rem; 
    

}
#navbar ul li a{
    color:rgb(242, 226, 226);
    display: block;
    padding:0.3rem 0.10rem;
    border-radius:10rem;
    text-decoration: none;
    padding-bottom: 0.4rem;
}
#navbar ul li a:hover{
    color: rgb(252, 247, 247);
    background-color: rgb(237, 120, 91);
    display: block;
    
}
 #navbar .item a:first-child{
    color: #f9f9f3;
 }
 /* #navbar ul li a i{
    font-size: 4px;

}
.fa-home{
    padding: 2px;
    color: aliceblue;
} */
/* .search-bar */
/* .search-bar{
    /* text-align: left; */
    /* padding-left: 60vh; */
     /* padding-bottom: 20px; 
    border-radius: 2px;  */
    /* box-sizing: 2px;
    word-spacing: 2px; */
/* }  */

/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 0.2rem 2rem;
    height: 40rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
#home::before{
content:"";
     /* background-image: url('samose.avif') ;  */
       background:  rgb(0,0, 0,0.6) url('./spices-herbs-on-wooden-board-260nw-1208517271.webp');  
background-blend-mode: darken;
     position: absolute;
    height: 100% ;
    width: 100%;
    z-index: -1;
      opacity: 0.5vh;
    background-size: cover;
    background-repeat:no repeat ;
    /* padding-right: 25vh; */
     background-position: center;
     }
#home h1{
    color:rgb(247, 243, 243);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: rgb(250, 65, 65);
    position: relative;
    animation-name: shiv;
    /* background-color: rgb(232, 178, 128);  */
    animation-duration: 5s;
    animation-iteration-count: 5;
   padding-left: 50vh;

    
}
@keyframes  shiv{
    from{
        width:40rem;
    }
    to{
        width:96rem;
    }

 }
#home p{
    color:rgb(247, 240, 240);
    text-align: left;
    font-size: 1.5rem;
    position: relative;
    padding-left: 50vh;
    
    
}
span{
    color:red;
    
}
/* services section */
/* #services{
    margin :34px;
    display:flex;
    box-sizing: 10px;
}
/* utility class */
#home .button{
     position: absolute;
     top: 68%; 
    left: 45%;
     transform: translate('-50%,-50%'); 
    font-size: 1rem;
     background-color:rgb(240, 51, 33);
     /* padding-right: 20px;  */
}
.s-primary{
    font: size 1.45rem;
    /* padding: 0.5rem; */

    /* position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%); */

}
.button{
    
    width: 10%;
     padding: 0.3rem;
    font-size: 1rem;
    color: #e4491e;
    font-family: 'Courier New', Courier, monospace;
    /* font-weight: 400; */
    border: 0.2rem solid #f89a60;
    /* letter-spacing: 0.2rem; */
    cursor: pointer;
    border-radius: 2rem;
    transition: 0.5s;
    position: relative;

}
 .button:hover{
    
    box-shadow: 0 0.2rem 0.4rem 0 #5f6262 inset,0 0.2rem 0.4rem 0 #8c9392,
    0 0.2rem 0.4rem 0 #6e7373 inset,0 0.2rem 0.4rem 0 #6c7070;
    text-shadow: 0 0.2rem 0.4rem  0 #4a4e4d ,0 0.2rem 0.4rem  0 #646666 ;
    
} 
/* services section */
    
  /* #services{ 
     border:4px red; 
     margin:20px;  

     padding:2px; 
     display: flex; 
     background-image: url('all.jpg'); 
      opacity: 0.8; 
    } 
      */
/* #services .box{
    border: 4px red;
     
     margin: 4px; 
    padding: 3px;
}
#services .box img{
    height: 160px;
     width:200px;
    margin :auto; */

    /* display: block;
    background-position:cover ;
}
.centre{

    text-align: center;
    
}
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    
}
.h-secondary{
    font-size: 2.8;
     padding: 12px;  */
/* } */
/* .search-bar{
text-align: center;
margin: 0.3rem;
padding: 1.5rem;


}
.search-menu{
    padding-left: 30vh;
}
.food-menu{
    text-align: center;
    margin-bottom: 0.20px;
     padding-left: 30vh;

} */
.food-menu ul li{
    list-style: none;
    display: inline-block;
    margin: 2rem 0rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 0.2s ease;
    /* padding-left: 30vh; */
}
.food-menu ul li:hover{
    color: white;
    background: orangered;
    border-radius: 3rem;
}

#services {
    /* border:12px red; */
    margin:1rem;
     padding:0.4rem; 
      display: flex;  
          text-align: center; 
   
     
       }  
    /* sevices section started */
 #services .box{
    border: 0.2rem solid brown;
     
     margin: 1.4rem; 
    padding: 0.4rem;
    box-shadow: 0.4rem 0.4rem 2.1rem -1.2rem rgb(20, 20, 20);
    width: 550vh;
    border: 0.8rem;
 }
#services .box img{
    height: 10rem;
     width:10rem;
    margin :auto; 

     display: block;
    background-position:cover ;

    
}.centre{

    text-align: center;
    
}
.h-primary{
    font-size: rem;
    padding: 0.2rem;
    
}
.h-secondary{
    font-size: 2rem;
    color: #121212;
     padding-top:0rem;
    }
.recipe-btn{
    text-decoration: none;
    color: white;
     background: rgb(224, 134, 44);
     font-size: 1.0rem;
     padding: 0.5rem 0;
     display: block;
     width: 5rem;
     margin: 1rem auto;
     border-radius: 2rem;
}
.recipe-btn:hover{
    background: rgb(250, 114, 51);
}


/* custred section */
 #custred{
   
    /* border-radius: 50px; */
 margin:1rem;
    display: flex;
    text-align: center;
    padding: 0.4rem;
 }
 #custred .box{
    /* border:2px solid red; */
    margin:1.4rem;
    padding:0.4rem;
    border: 0.2rem solid brown;
   
    box-shadow: 0.4rem 0.4rem 2.1rem -1.2rem rgb(43, 41, 41);
    width: 550vh;
    border: 0.8rem;
 }

 #custred .box img{
    height:10rem;
    width:10rem;
    
     display:block;
     margin: auto; 
     background-position: cover;
    
    
 }
 .centre{
    text-align: center;
 }
 .h-third{
    font-size: 2rem;
    padding:0.2rem
 }
 .h-forth{
    font-size: 2rem;
    color: #161717;
    padding: 0rem;
    
    
 }
 /* .h-forth{
    font-size: 1.8rem;
    padding: 2rem;
 } */
 /* *{
    margin-bottom: 0%;
    padding: 0%;
 } */
 .centerdiv{
    height: 15vh;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 8vh;
   }
   .centerdiv i { 
    width: 5rem;
    height: 5rem;
    margin: 5rem;
    padding: 5rem;
    font-size: 3rem;
    border-radius: 3rem;
    text-align: centre;
    background-color: aliceblue;
     box-shadow: 0.1rem 0.8rem 0.2rem 0.2rem rgb(217, 217, 220);
     line-height: 4rem;
     
 }
 a i{
    transition:all 1.3s linear ;
 }
 a:hover i{
    transform :scale(1.3);
 }
.fa-facebook{
    color: rgb(112, 112, 248);
}
.fa-instagram{
    color:rgb(235, 76, 102);
}
.fa-telegram{
    color: rgb(66, 85, 179);
}
.fa-twitter{
    color: rgb(59, 105, 191);
}
.fa-linkedin{
    color: rgb(50, 50, 181);
} 

 body .contact{
margin:0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
/* background-image: url('for\ login\ page2.jpg') ;
background-size: cover;
z-index: -1;
opacity: 0.89; */
 }
.contact-box::before {
    margin: 0%;
    padding: 0%;
    background-image: url('for\ login\ page.jpg');
    background-image: cover;
    height: 16rem;
    width: 16rem;
}
.contact-box h1{
    font-size: 16rem;
    color: black;
    border-top: 0.4rem black;
    border-bottom: 0.4rem black;
}
.contact-box{
    
    width: 32rem;
    position: absolute;
    top: 8.8rem;
    left: 11.2rem;
    transform: translate(-50%,-50%);
    color: black;
    /* text-shadow: 1px 8px 2px 2px rgb(250, 143, 161); */
    box-shadow: 0.1rem 0.8rem 0.2rem 0.2rem rgb(109, 105, 105);


}
.textbox{
    width: 16rem;

     overflow: hidden; 
    font-size: 2rem;
    padding:1rem 0;
    margin: 1rem 0;
    border-bottom: 0.1rem solid rgb(245, 141, 141);
    
}
.textbox i{
    width: 0.3rem;
    float: center;
    text-align: center;

}
.textbox input{
    border:black;
    outline: black;
    background-color:rgb(244, 234, 234);
    
}
/* login page started */

body .login-box{
    margin:16rem;
    padding:18.24rem;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url('for\ login\ page2.jpg') ;
    background-size: cover;
    z-index: -1;
    opacity: 0.89; */
    text-align: center;
    font-size: 2.5rem;
     }
    div .login-box{
        height: 80rem;
        border: 0.2rem solid red;
     }
    .login-box::before {
        margin: 4%;
        padding: 7%;
        background-image: url('for\ login\ page.jpg');
        background-size: cover;
        height: 100%;
        width: 16rem;
        background-color: #323433;
        box-shadow: 1.2rem 1.2rem 2.1rem -1.2rem black;
    }
    .login-box h1{
        font-size: 16rem;
        color: black;
        border-top: 0.5rem black;
        border-bottom: 0.4rem black;
    }
    .login-box{
        
        width: 32rem;
        /* position: absolute; */
        top: 20%;
        left: 45%;
        right:45%;
        transform: translate(-50%,-50%);
        color: black;
        /* text-shadow: 1px 8px 2px 2px rgb(250, 143, 161); */
        box-shadow: 0.1rem 0.8rem 0.2rem 0.2rem rgb(109, 105, 105);
        background-color: #dd89f5;
    
    
    }
    .logbox{
        width: 16rem;
    
         overflow: hidden; 
        font-size: 4rem;
        padding:2.4rem 0;
        margin: 2.4rem 0;
        /* /* border-bottom: 3px solid rgb(245, 141, 141); */
    }
    .textbox i{
        width: 4.8rem;
        float: center;
        text-align: center;
    
    }
    .textbox input{
        border: 0.2rem black;
        outline: 0.2rem black;
        background-color:rgb(248, 245, 245);
        
    }
    .button.login-box{
        color: red;
        border-radius: 0.2rem;
        border-color: black;

    }
    /* about us page satarting */
       
body .aboutus-box{
        margin:10rem;
        padding:115px;
        font-family: Arial, Helvetica, sans-serif;
        /* background-image: url('for\ login\ page2.jpg') ;
        background-size: cover;
        z-index: -1;
        opacity: 0.89; */
        text-align: center;
        font-size: 25px;
         }
        .aboutus-box::before {
            margin: 0%;
            padding: 0%;
            background-image: url('for\ login\ page.jpg');
            background-size: cover;
            height: 100%;
            width: 100%;
        }
        .aboutus-box h1{
            font-size: 100%;
            color: black;
            border-top: 0.5rem black;
            border-bottom: 0.4rem black;
        }
        .detail-box{
            
            width: 20rem;
            position: absolute;
            top: 20%;
            left: 45%;
            transform: translate(-50%,-50%);
            color: black;
            /* text-shadow: 1px 8px 2px 2px rgb(250, 143, 161); */
            box-shadow: 0.1rem 0.8em 0.2rem 0.2rem rgb(109, 105, 105);
        
        
        }
        /* for making responsive*/
        @media(max-width:998px){
            html{
                font-size:55%;
            }
        }
        @media(max-width:768px)
        {
          
            html{
                font-size: 45%;
            }
        }

